.reports .tabtitle {
	border: none;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	/* margin-bottom: 1rem; */
}
.reports .tabtitle.active {
	background: linear-gradient(90deg, #2ea8fa 0%, #076eb3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	border-bottom: 3px solid #076eb3;
}
.reports .listItem {
	/* padding: 1rem 2.5rem; */
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: #f9f9f9;
	border-radius: 20px;
}
.reports .addBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 9.313rem;
	height: 3.5rem;
	font-weight: 700;
	/* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); */
	border-radius: 8px;
	border: 1px solid #076eb3;
	cursor: pointer;
	outline: none;
	padding: 0.5rem 1rem;
	background: linear-gradient(90deg, #2ea8fa 0%, #076eb3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.reports .tableHead {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 140%;
	color: #000000;
	display: flex;
	justify-content: center;
	text-transform: capitalize;
}
.reports .name {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #000000;
	display: flex;
	justify-content: center;
}
.reports .type {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 140%;
	color: #000000;
	display: flex;
	justify-content: center;
}
.reports .filter,
.reports .sort {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1px 16px;
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	width: 48px;
	height: 40px;
}
.reports .date {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #000000;
	display: flex;
	justify-content: center;
}
.reports .mobileCard {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	height: 72px;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	margin-bottom: 1rem;
}
.reports .mobileCard .titlename {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.reports .mobileCard .types {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: #000000;
}
.reports .mobileCard .time,
.reports .mobileCard .date {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	color: #666666;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.listWrapper::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.listWrapper {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@media (max-width: 600px) {
	.reports .tabtitle {
		font-size: 1.1rem;
	}
}
