.healthcampWrapper .input-group-text {
	background-color: white;
	border-right: none;
	border-radius: 8px;
}
.healthcampWrapper .form-control {
	border-left: none;
	border-radius: 8px;
}
.healthcampWrapper .cardWrapper {
	overflow-y: scroll;
}
.healthcampWrapper .campCard {
	border-radius: 10px;
	background-color: white;
	box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15);
}
.healthcampWrapper .date {
	width: 3rem;
	/* height: auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0.5rem;
	left: 0.5rem;
	border-radius: 0.5rem;
	/* line-height: 1px; */
}
.healthcampWrapper .date > span:last-child {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 140%;
	background: linear-gradient(90deg, #2ea8fa 0%, #076eb3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.cardWrapper .campName {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 140%;
	color: #000000;
}
.cardWrapper .location {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 140%;

	/* identical to box height, or 22px */

	color: #000000;

	opacity: 0.5;
}
.cardWrapper .time {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 140%;

	/* identical to box height, or 22px */

	color: #000000;
}
.cardWrapper .tag {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
}
.cardWrapper::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cardWrapper {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
