.healthrecords {
	background-color: white;
	/* height: cal(100vh - 41vh); */
}
.nav-tabs {
	border: none;
}
.tab-content {
	overflow-y: scroll;
	background-color: green;
}
.nav-tabs .nav-link {
	border: none;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: rgba(0, 0, 0, 0.8);
}
.nav-tabs .nav-link.active {
	/* border-bottom-width: 6px; */
	border-bottom: 3px solid #076eb3 !important;
	background: linear-gradient(90deg, #2ea8fa 0%, #076eb3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

@media (max-width: 600px) {
	.healthrecords {
		background-color: white;
		height: auto !important;
		margin-bottom: 2rem;
	}
}
