.healthcampWrapper .input-group-text {
	background-color: white;
	border-right: none;
	border-radius: 8px;
}
.healthcampWrapper .form-control {
	border-left: none;
	border-radius: 8px;
}

@media (max-width: 600px) {
	.dashboardScreen .cardWrapper {
		width: 100vw;
        padding-right: 0 !important;
        
	}
	.dashboardScreen .cardWrapper .col-6 {
		width: 60%;
	}
}
