.UserScreen .user_prts {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
	margin-top: var(--dashSecMarginTop);
}
.UserScreen .info_cards {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}
.UserScreen .card .titles {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: var(--fontMd);
	line-height: 140%;
	color: #000000;
	opacity: 0.7;
}
.UserScreen .card {
	background: #ffffff;
	box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	/* width: 10rem; */
	height: 7.5rem;
	display: flex;
	padding: 1rem;
}
.UserScreen .Healthcamps {
	background: #ffffff;
	box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	/* width: 10rem; */
	height: 7.5rem;
	display: flex;
	/* padding: 1rem; */
}
@media (max-width: 600px) {
	.UserScreen .user_prts {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}
