.dropBtn {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px;
	/* width: 5.688rem; */
	height: 3.5rem;
	cursor: pointer;
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	justify-content: center;
	/* position: relative; */
	z-index: 1;
}
.dropBtn .label {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 19px;
	color: #000000;
	margin-right: 11.75px;
}
/* .dropBtn:focus-within + .dropOptions {
	display: block;
} */
.dropOptions {
	/* display: none; */
	position: absolute;
	width: 21.014rem;
	height: 8rem;
	left: 0px;
	/* align-items: center; */
	justify-content: center;
	top: 115%;
	padding: 0rem 40px;
	background: #ffffff;
	box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	z-index: 500;
}
.OptioninnerWrapper {
	min-height: 2rem;
	max-height: 6rem;
	overflow-y: scroll;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	/* align-items: center; */
}

.OptioninnerWrapper input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	outline: none;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background-color: transparent;
	pointer-events: none;
}
.OptioninnerWrapper .slider-track {
	width: 100%;
	height: 5px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	border-radius: 5px;
}
.OptioninnerWrapper input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 5px;
}
.OptioninnerWrapper input[type="range"]::-moz-range-track {
	-moz-appearance: none;
	height: 5px;
}
.OptioninnerWrapper input[type="range"]::-ms-track {
	appearance: none;
	height: 5px;
}
.OptioninnerWrapper input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.7em;
	width: 1.7em;
	background-color: #3264fe;
	cursor: pointer;
	margin-top: -9px;
	pointer-events: auto;
	border-radius: 50%;
}
i.OptioninnerWrapper nput[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 1.7em;
	width: 1.7em;
	cursor: pointer;
	border-radius: 50%;
	background-color: #3264fe;
	pointer-events: auto;
	border: none;
}
.OptioninnerWrapper input[type="range"]::-ms-thumb {
	appearance: none;
	height: 1.7em;
	width: 1.7em;
	cursor: pointer;
	border-radius: 50%;
	background-color: #3264fe;
	pointer-events: auto;
}
.OptioninnerWrapper input[type="range"]:active::-webkit-slider-thumb {
	background-color: #ffffff;
	border: 1px solid #3264fe;
}
.OptioninnerWrapper .values {
	background-color: #3264fe;
	width: 32%;
	position: relative;
	margin: auto;
	padding: 10px 0;
	border-radius: 5px;
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	color: #ffffff;
}
.OptioninnerWrapper .values:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border-top: 15px solid #3264fe;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	margin: auto;
	bottom: -14px;
	left: 0;
	right: 0;
}
.OptioninnerWrapper::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.OptioninnerWrapper {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.dropOptions label {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 140%;
	color: #000000;
}
